[
{
  :db/id #db/id[:db.part/user -1],
  :creditcard/name "Thiago Massa",
  :creditcard/number "0000000000",
  :creditcard/cvv "000",
  :creditcard/available_balance 100.0,
  :creditcard/outstanding_balance 100.0
}
{
  :db/id #db/id[:db.part/user -2],
  :creditcard/name "Edward Wible",
  :creditcard/number "0000000001",
  :creditcard/cvv "000",
  :creditcard/available_balance 100.0,
  :creditcard/outstanding_balance 100.0
}
{
  :db/id #db/id[:db.part/user -3],
  :creditcard/name "Konrad Scorciapino",
  :creditcard/number "0000000002",
  :creditcard/cvv "000"
  :creditcard/available_balance 100.0,
  :creditcard/outstanding_balance 100.0
}
]
